*{
    margin: 0;
    padding: 0;
}

.main{
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),url("../images/bg.jpeg"); 
    background-size: 100vw;
    width: 100vw;
    height: 100vh;
}

img{
    height: 150px;
    position: absolute;
    right: 7%;
    top: 10%;
}

.wel{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 96px;
    position: absolute;
    top: 28%;
    right: 3%;
    color: #099cec;
}

.kube{
    position: absolute;
    top: 41%;
    right: 3%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20pt;
    color: white;
}

.btn{
    position: absolute;
    top: 50%;
    right: 3%;
    padding: 10px 100px;
    text-align: justify;
    align-content:space-around;
    color: #099cec;
}

.btn-outline-primary{
    border: 1px solid #099cec;
}

.btn-outline-primary:hover{
    background-color:#099cec
}
